.DisplejKontejner{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
}
.DonjiDeo{
   position: absolute;
   background-color: rgb(229, 237, 243);;
}
.Forma{
    display: flex;
}

.CBRokovi{
    display: flex;
    flex-direction: row;
}

.CBLevi, .CBDesni{
    display: flex;
    flex-direction: column;
    flex: 0 0 100px;
}

.ocenaDiv, .indeksDiv{
    display: flex;
    flex-direction: row;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

.GlavniDiv{
    display: flex;
    flex-direction: column;
}

.parentSlike
{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(61, 145, 255);
    border: 0px solid rgb(61, 145, 255);
}
.mapa
{
    position: relative;
    top: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
}
.radius, .point, .radiusCentar
 {
    position: absolute;
    border-radius: 100%;
 }
 .radius{
    background-color: rgba(45, 189, 255, 0.329);
 }
 .radiusCentar{
   background-color: rgba(41, 199, 159, 0.308);
 }
 .point, .radiusCentar{
    border-radius: 100%;
    width: 10px;
    height: 10px;
 }
 .radClass{
    display: flex;
    flex-direction: column;
 }

 .dataDiv{
    display: flex;
    flex-direction: column;
 }
 
 input{
     margin-top: 7px;
     margin-bottom: 10px;
 }

 .ponudaDiv{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
 }

 button
 {
    border-width: 0px;
    border-radius: 8px;
    padding: 6px;
    background-color: rgb(54, 54, 54);
    color:white;
    font-family: -apple-system,Segoe UI,Roboto;
    font-weight: 500;
    margin-top: 5px;
 }
 .nadjiRezBtn{
   padding: 10px;
 }

 label{
    font-family: -apple-system,Segoe UI,Roboto;
    font-weight: 500;
 }

 input, select{
    border-radius: 8px;
    text-align: center;
 }
 
 .LeviDeo, .DesniDeo{
    display: flex;
    flex-direction: column;
 }

 .LeviDeo{
     margin-right: 100px;
 }

 .ponudeDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: 1%;
    align-content: center;
 }
 .izmeniBtn{
    border-radius: 30px;
    background-color: rgb(42, 116, 255);
    padding: 1.5%;
 }
 .sobeDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 .poljeDiv{
    display: flex;
    flex-direction: column;
 }
 .sobaInput{
    height: 35px;
    width: 35px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 1000;
    text-align: center;
 }

 .DodajBtn{
    margin-left: 5px;
    font-size: medium;
    background-color: darkgrey;
    height: 35px;
    width: 35px;
    order: 10;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
 }

 .korisnikDiv{
   display: flex;
   flex-direction: column;
 }

 th, td{
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.rezDisplay{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10%;
}
.otkaziBtn{
   border-radius: 0%;
   margin-top: 0%;
   padding: 0%;
   border: 1px solid black;
   height: 50px;
   width: 50px;
}
body{
   background-color: rgb(229, 237, 243);
}
body::-webkit-scrollbar {
   display: none;
 }
